@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}

.navbar-brand {
    font-size: 15px;
    font-weight: bold;
}

.navbar-border {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.navbar-border:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.heading {
    font-size: 150px;
    
}

.heading span {
    font-size: 15px;
    position: relative;
    top: -100px;
    left: 10px;
}


.project {
    background-image: url("assets/image.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.project-info {
    color: azure;
    padding: 20px;
    position: absolute;
    bottom: 20px;
}

.grid-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.grid-item {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.image-box {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box {
    text-align: left;
    margin-top: 10px;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
}


.footer-head {
    font-size: 50px;
    text-align: center;
}
.big-text{
    font-size: 200px;
}